        .panel {
            text-align:center;
        }

        .big-text {
            font-size: 60px;
            border: 10px solid #ffffff;
            margin: 50px;
        }

        .white-text {
            color:white;
        }