@(currentMark : Double, goalMark : Double, examMark : Double, neededMark : Double)
@import helper._

<html>
<head>
    <title>Final Grade Calculator</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/site.css">
</head>
<body bgcolor="#66ffff">

<div class="panel">


<h1>This is what you need to get on final!!</h1>
    <span class="big-text">@neededMark %</span>
    <br/>
    <h1 class="white-text">GOOD LUCK</h1>
</div>
<form method="POST" action="/">
@CSRF.formField
<input type="submit" value="Do another calculation">
    <form>
</body>
</html>