@(marksFrom : Form[Marks])
@import helper._

<html>
  <head>
    <title>Final Grade Calculator</title>
  </head>
  <body>
    <h1>Final Grade Calculator</h1>

    <form method="POST" action="/calculation">
      <label for="currentMark" >Your current grade is</label><br/>
      <input id="currentMark" name="currentMark" placeholder="(e.g. 90.2)">%<br/>
      <br/>
      <label for="goalMark" >You want to get at least</label><br/>
      <input id="goalMark" name="goalMark" placeholder="(e.g. 88)">% in the class<br/>
      <br/>
      <label for="examWorth" >Your final is worth</label><br/>
      <input id="examWorth" name="examWorth" placeholder="(e.g. 30)">% of your grade<br/>
      <br/>
      @CSRF.formField
      <input type="submit" value="Calculate what I need to get on final">
    </form>
  </body>
</html>